TestServiceClient/Service References/JobProcessorServiceReference/JobProcessorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SolidFrameworkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SolidFrameworkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/JobProcessorService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SolidFramework.Services.Plumbing" />
  <xs:complexType name="JobEnvelopeStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolidFramework.Services.Plumbing" minOccurs="0" name="Status" type="q1:JobStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobEnvelopeStatus" nillable="true" type="tns:JobEnvelopeStatus" />
</xs:schema>